html,
body {
  padding: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: #111;
  color: #FFF;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app .flx {
  display: flex;
  align-items: center;
}
#app .flx.row {
  flex-flow: row;
}
#app .flx.column {
  flex-flow: column;
}
#app .flx > .shrink {
  flex: 0 1 auto;
}
#app .flx > .grow {
  flex: 1 0 auto;
}
#app .flx.spread {
  justify-content: space-between;
  width: 100%;
}
#app .flx.spread > * {
  text-align: center;
}
#app .flx.spread > *:first-child {
  text-align: left;
}
#app .flx.spread > *:last-child {
  text-align: right;
}
#app .hr {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
}