html,
body {
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: #111;
    color: #FFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {

    .flx {
        display: flex;
        align-items: center;

        &.row {
            flex-flow: row;
        }

        &.column {
            flex-flow: column;
        }

        &>.shrink {
            flex: 0 1 auto;
        }

        &>.grow {
            flex: 1 0 auto;
        }

        &.spread {
            justify-content: space-between;
            width: 100%;

            &>* {
                text-align: center;
            }

            &>*:first-child {
                text-align: left;
            }

            &>*:last-child {
                text-align: right;
            }
        }
    }

    .hr {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, .25);
    }
}